.wrapper {
    position: relative;
    width: 100%;
    height: auto;

    .image {
        position: relative !important;
        width: 100% !important;
        height: auto !important;
        min-height: unset !important;
    }
}
