.container {
    position: relative;
    width: 300px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
    padding-top: 30px;
    padding-bottom: 50px;

    @media (max-width: 358px) {
        width: 90vw;
    }

    .imageWrapper {
        position: relative;
        width: 80%;
        height: auto;

        .painting {
            position: relative !important;
            width: 100% !important;
            height: auto !important;
            min-height: unset !important;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 20px;

        .name {
            text-align: left;
        }
    }
}
